In [4]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
#炎龍幣換台幣
def yenl2twd(yenl):
    twd = yenl*87
    print((f"{yenl}炎龍幣合{twd}台幣"))

In [6]:
yenl2twd(10)

10炎龍幣合870台幣

In [9]:
#炎龍幣換台幣
def yenl2twd(yenl,c=87):
    twd = yenl*c
    print((f"{yenl}炎龍幣合{int(twd)}台幣"))

In [11]:
yenl2twd(10)

10炎龍幣合870台幣

In [13]:
yenl2twd(10,9487)

10炎龍幣合94870台幣

### array vs list

In [14]:
abc = list(range(0,10))

In [25]:
abc

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
K = np.arange(0,10,1)

In [27]:
K

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [28]:
K*2

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [29]:
abc*2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
K.mean()# or np.mean(K)

4.5

In [35]:
 np.median(K)

4.5

In [37]:
K.std()

2.8722813232690143

In [38]:
K.min()

0

In [40]:
K.max()

9

In [41]:
K.sum()

45

In [44]:
K.cumsum() #prefix sum

array([ 0,  1,  3,  6, 10, 15, 21, 28, 36, 45], dtype=int32)

In [64]:
K.prod()

362880

In [65]:
L = np.arange(1,10,1)

In [66]:
L.cumprod() #prefix product

array([     1,      2,      6,     24,    120,    720,   5040,  40320,
       362880], dtype=int32)

In [67]:
N = L.reshape(3,3) #1~9，3*3 matrix

In [68]:
N.mean()

5.0

In [69]:
N.mean(axis=0)

array([4., 5., 6.])

In [71]:
N.mean(axis=1)

array([2., 5., 8.])

In [80]:
np.random.seed(1) # seed only can use one time , and then seed will be invaild

In [81]:
np.random.randint(10)

5

In [82]:
np.random.randint(10)

8

In [93]:
np.random.seed(1) # seed only can use one time , and then seed will be invaild 
np.random.randint(10)

5

In [95]:
num = 0

while(num<5):
    np.random.seed(1)
    print(np.random.randint(10))
    num+=1

5
5
5
5
5

In [97]:
num = 0
np.random.seed(1)
while(num<5):
    print(np.random.randint(10))
    num+=1

5
8
9
5
0

In [98]:
np.random.randn()

-1.1059350760083153

In [100]:
num = 0
while(num<5):
    a= np.random.randn(100,100)
    print(a.mean())#是算整體的mean
    num+=1

0.009681711983300601
-0.013951479186307712
-0.0026370427717925652
0.008114233738287848
0.01617891141334361

In [101]:
num = 0
while(num<5):
    a= np.random.randn(100,100)
    print(a.std())
    num+=1

1.0045331942914968
0.9946847698773691
0.9995024056703938
0.9935097365310372
0.989704899890545

In [103]:
S=['apple','orange','banana','guave','grape']

In [104]:
np.random.choice(S)

'banana'

In [105]:
np.random.choice(S,3)

array(['orange', 'banana', 'grape'], dtype='<U6')

In [106]:
np.random.choice(S,5)#可以重複取

array(['banana', 'grape', 'orange', 'apple', 'guave'], dtype='<U6')

In [108]:
np.random.choice(S,5,replace=False)#不可以重複取

array(['banana', 'orange', 'guave', 'apple', 'grape'], dtype='<U6')

In [109]:
np.random.choice(S,size = (3,3))

array([['apple', 'apple', 'orange'],
       ['apple', 'banana', 'apple'],
       ['grape', 'apple', 'apple']], dtype='<U6')

In [110]:
P = [0.8 , 0.2 , 0 , 0 , 0]

In [111]:
np.random.choice(S,5,p=P) #probability = P

array(['apple', 'apple', 'orange', 'orange', 'apple'], dtype='<U6')