### 分析 Kobe Bryant 逐年數據

- 用interact讓使用者選取年份
- 用長條圖顯示每季 kobe bryant 小於20分，20~30分、30~40分及40分以上的場次，並在長條圖上直接顯示數字
- 表格顯示當季的最高得分及平均分數
- 用subplot 將兩張圖左右顯示

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import locale
from ipywidgets import interact
start_year = 1997
end_year = 2017

In [2]:
#先讀進資料
ans=[]
for i in range(start_year,end_year):
    URL ='https://www.basketball-reference.com/players/b/bryanko01/gamelog/'
    PerGame = pd.read_html(URL+str(i))
    ans.append(PerGame[7]) #把他加進ans這個(7是經由測試後知道我們要的表格在第七行)

In [3]:
ans[0].head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc
0,1,1,1996-11-03,18-072,LAL,NaN,MIN,W (+6),0,6:00,...,0,1,1,0,0,1,1,1,0,-1.1
1,2,2,1996-11-05,18-074,LAL,@,NYK,W (+6),0,3:00,...,0,0,0,0,0,0,1,0,1,-1.1
2,3,3,1996-11-06,18-075,LAL,@,CHH,L (-10),0,7:00,...,0,0,0,0,0,0,3,0,5,0.7
3,4,4,1996-11-08,18-077,LAL,@,TOR,L (-1),0,17:00,...,0,3,3,0,0,1,0,3,10,5.2
4,5,5,1996-11-10,18-079,LAL,NaN,ATL,W (+7),0,8:00,...,1,2,3,1,0,0,0,0,2,1.9

In [4]:
import locale

point=[]
for i in range(start_year-start_year,end_year-start_year): #index from 0 to 19
    ans[i] = ans[i][(ans[i]['GS']!='Inactive')&(ans[i]['PTS']!='PTS')&(ans[i]['GS']!='Did Not Play')]#清掉沒用的資料 只留下有得分的地方
    point.append(ans[i].loc[:,'PTS'].copy())
    assert(len(point[i])==len(ans[i]))#到這裡驗證一下有沒有轉換錯
point[0]

0      0
1      1
2      5
3     10
4      2
5      2
6      6
7      4
8     16
9      3
10    11
11    12
12     2
13     1
14     2
15     8
16    11
17     0
18     5
19     0
21     5
22     0
23     0
24     4
25    21
26    16
27     8
28     9
29     2
30     2
      ..
43     0
44    10
45     2
46     0
47     0
48    10
49     0
50     8
51    12
52    18
53    16
54    10
55     8
56     0
57     0
58     8
59     6
60    19
61    20
63     9
64     6
65    15
66    13
67    24
68    11
69     7
70    12
71     3
72     5
73     2
Name: PTS, Length: 71, dtype: object

- **到上面一步，已經剩下我們有用的資料，下面開始分析**

TODO: interact 分析每年最高得分 平均得分

In [5]:
from ipywidgets import interact
import seaborn as sns
import matplotlib as mpl

  
mpl.rc('font',family ='Noto Sans CJK TC')
#分析>20分，>30分和>40分的場次
label_text=['<20分','>20分','>30分','>40分']

def PtAnalyze(x):
    if x> 40:
        return 4
    elif x> 30:
        return 3
    elif x> 20:
        return 2    
    else:
        return 0
    
def Bar(index):
    #等等要畫一個表格和一張圖 所以需要兩個subplot
    fig = plt.figure(figsize=(20,9))
    ax1 = fig.add_subplot(121)
    
    #直條圖
    #print(point[index]['Pt_Analyze'].value_counts().tolist())
    counts =point[index]['Pt_Analyze'].value_counts().tolist()#把場次數據存起來
    sns.countplot(point[index]['Pt_Analyze'],ax=ax1);
    ax1.set_xlabel('得分表現')
    ax1.set_ylabel('場次')
    ax1.set_title(str(index+start_year)+'年賽季Kobe bryant得分數據')
    ax1.set_xticklabels(label_text, fontsize=14)
    #把數字顯示在圖表上
    index_local_for = 0
    for p, label in zip(ax1.patches, point[index]['Pt_Analyze'].value_counts().index):
        ax1.annotate(counts[index_local_for], (p.get_x()+0.375, p.get_height()+0.1))
        index_local_for+=1
    
    #表格
    ax2 = fig.add_subplot(122)
    ax2.axis('off')
    ax2.set_title(str(index+start_year)+'年賽季Kobe bryant得分數據')
    col_labels = ['該季最高得分', '該季平均分數']
    row_labels = ['得分']
    table_vals = [[0,0]]#initilize
    # 轉成array後 發現最後一個 element 是很長一串的所有資訊，因此remove。(但應該有更好的方法直接轉成array)
    value = np.array(point[index], dtype=pd.Series)
    value = value[np.arange(value.size - 1)]
    table_vals[0][0] = value.max()
    table_vals[0][1] = round(value.mean(),3)
    the_table = plt.table(cellText=table_vals,
                          colWidths=[0.2,0.2],
                          rowLabels=row_labels,
                          colLabels=col_labels,
                          loc='best')
    the_table.auto_set_font_size(False)
    the_table.set_fontsize(20)
    the_table.scale(2,5)
    
    
    
 
    
for i in range(start_year-start_year,end_year-start_year):
    point[i]=point[i].apply(locale.atof)
    point[i]['Pt_Analyze']=point[i].apply(PtAnalyze)#把數字轉成float

interact(Bar, index=(0, 19));

interactive(children=(IntSlider(value=9, description='index', max=19), Output()), _dom_classes=('widget-intera…

### **reference**

[subplot使用](https://stackoverflow.com/questions/33925494/seaborn-produces-separate-figures-in-subplots)